﻿
@{
    ViewData["Title"] = "Home Page";
}

@* <div class="card" style="text-align:center">
      <img src="~/Modernize-1.0.0/src/assets/images/logos/TBHaikal2.jpg" width="1000" />
</div> *@

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Modernize-1.0.0/src/assets/images/logos/TBHaikal2.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Modernize-1.0.0/src/assets/images/logos/TBHaikal2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Modernize-1.0.0/src/assets/images/logos/TBHaikal2.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

