﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="~/Modernize-1.0.0/src/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>


@*     <script src="~/lib/jquery/dist/jquery.min.js"></script>
 *@   
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="~/Modernize-1.0.0/src/assets/libs/apexcharts/dist/apexcharts.min.js"></script>

    <!-- Toastr -->
    <script src="~/Modernize-1.0.0/plugins/toastr/toastr.min.js"></script>
    <link rel="stylesheet" href="~/Modernize-1.0.0/plugins/toastr/toastr.min.css">

    <!-- Sweetalert2 -->
    <script src="~/Modernize-1.0.0/plugins/sweetalert2/sweetalert2.js"></script>

    @*     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> *@
    <title>Toko Bangunan Haikal</title>
    <link rel="shortcut icon" type="image/png" href="~/Modernize-1.0.0/src/assets/images/logos/hammer.png" />
    <link rel="stylesheet" href="~/Modernize-1.0.0/src/assets/css/styles.min.css" />



</head>
<body>


    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <partial name="_Sidebar" />
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <partial name="_Header" />
            <div class="container-fluid">
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="my_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal_body">
                    ...
                </div>
                @*  <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div> *@
            </div>
        </div>
    </div>

@*     <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MiniProjectGroupA - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    @*   <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    @*  @await RenderSectionAsync("Scripts", required: false) *@

    <script src="~/Modernize-1.0.0/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Modernize-1.0.0/src/assets/js/sidebarmenu.js"></script>
    <script src="~/Modernize-1.0.0/src/assets/js/app.min.js"></script>
    <script src="~/Modernize-1.0.0/src/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="~/Modernize-1.0.0/src/assets/js/dashboard.js"></script>
</body>
</html>